// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "hi3798cv200-dvbip.dtsi"

/ {
	model = "DVBIP 1004 ARM64";
	compatible = "dvbip,1004", "hisilicon,hi3798cv200";

	aliases {
		mmc0 = &emmc;
		mmc1 = &sd0;
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		bootargs = "console=tty0 console=ttyAMA0,115200n8 earlycon=pl011,mmio32,0xf8b00000,115200n8 root=/dev/mmcblk0p8 rootfstype=ext4 rootwait rw blkdevparts=mmcblk0:1M(boot),1M(bootargs),11M(recovery),1M(misc),4M(baseparam),4M(pqparam),4M(hwconfig),-(rootfs) mem=2G loglevel=7 clk_ignore_unused fw_devlink=off dvbip.model=1004";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	/*
	 * IP1004 runtime samples cover 400/600/800/1200 MHz, their voltage ranges
	 * and HPM targets.  Although firmware exposes a 1.6 GHz table entry, its
	 * active policy caps the CPU at 1.2 GHz.  Linux therefore clamps a 1.6 GHz
	 * boot hand-off to the highest enabled OPP before voltage feedback starts.
	 */
	ip1004_cpu_opp_table: opp-table-cpu {
		compatible = "operating-points-v2";
		opp-shared;

		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			opp-microvolt = <1000000 840000 1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <1000000 840000 1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-800000000 {
			opp-hz = /bits/ 64 <800000000>;
			opp-microvolt = <1000000 820000 1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <1050000 900000 1050000>;
			clock-latency-ns = <110000000>;
		};

	};
};

&soc {
	cpu-avs@8a23078 {
		compatible = "hisilicon,hi3798cv200-avs";
		reg = <0x8a23078 0x10>, <0x8a23368 0x4>;
		reg-names = "hpm", "control";
		hisilicon,hpm-targets = <400000000 0xc9 0>,
					 <600000000 0xc9 0>,
					 <800000000 0xe5 1>,
					 <1200000000 0x110 1>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1004_cpu_opp_table>;
	#cooling-cells = <2>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1004_cpu_opp_table>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1004_cpu_opp_table>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1004_cpu_opp_table>;
};

&dvbip_sound {
	simple-audio-card,name = "DVBIP-1004";
};

/* The 1004 board needs the VO pixel-bypass gate for a cold HDMI start. */
&vdp {
	clocks = <&crg HISTB_VO_BUS_CLK>,
		 <&crg HISTB_VO_HD_CLK>,
		 <&crg HISTB_VDP_CFG_CLK>,
		 <&crg HISTB_VDP_HD_CLK>,
		 <&crg HISTB_VDP_V0_CLK>,
		 <&crg HISTB_VDP_G0_CLK>,
		 <&crg HISTB_VO_BP_CLK>;
	clock-names = "bus", "hd", "config", "core", "video",
		      "graphics", "bp";
};

/* Keep the original polling policy and restore CPU cooling at the passive trip. */
&{/thermal-zones/soc-thermal} {
	polling-delay-passive = <1000>;
	/delete-property/ sustainable-power;
};

&dvbip_cooling_maps {
	map-cpu {
		trip = <&soc_passive>;
		cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
	};
};

/*
 * Both the 1004 Fastboot and its Android kernel run the 8GME4R at HS400,
 * 1.8 V and 150 MHz.  The pin controls follow the CV200 controller layout;
 * inherited sample/strobe values are validated and tuned again when
 * the firmware hand-off is stale.
 */
&emmc {
	pinctrl-names = "default", "hs200", "hs400";
	pinctrl-0 = <&ip1004_emmc_default_pins
		     &ip1004_emmc_reset_pin &ip1004_emmc_strobe_pin>;
	pinctrl-1 = <&ip1004_emmc_hs200_data_cmd_pins
		     &ip1004_emmc_hs200_clk_pin
		     &ip1004_emmc_reset_pin &ip1004_emmc_strobe_pin>;
	pinctrl-2 = <&ip1004_emmc_hs400_pins
		     &ip1004_emmc_reset_pin &ip1004_emmc_strobe_pin>;
	hisilicon,io-voltage-reg = <&sysctrl 0xf4>;
	hisilicon,hs400-strobe-reg = <&crg 0x290>;
	hisilicon,inherit-boot-tuning;
	fifo-depth = <256>;
	clock-frequency = <100000000>;
	max-frequency = <150000000>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

&sd0 {
	bus-width = <4>;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <50000000>;
	no-1-8-v;
	no-mmc;
	no-sdio;
	status = "okay";
};

/* Enable the CPU PWM rail used by the provisional OPP table above. */
&vdd_cpu {
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii-id";
	hisilicon,phy-reset-delays-us = <10000 20000 50000>;
};

&tianlai {
	mute-gpios = <&gpio9 0 GPIO_ACTIVE_LOW>;
};

&ir {
	status = "disabled";
};

/* The fitted MxL214 uses four independent three-wire outputs. */
&dvbip_demux_input0 {
	status = "okay";
	/delete-property/ hisilicon,clock-inverted;
	hisilicon,ts-mode = "serial-nosync-novalid";
	hisilicon,cv200-legacy-ts-tuning;
	hisilicon,hardware-pid-filtering;

	port {
		ip1004_demux_input0: endpoint {
			remote-endpoint = <&ip1004_mxl214_output0>;
		};
	};
};

&dvbip_demux_input1 {
	status = "okay";
	hisilicon,ts-mode = "serial-nosync-novalid";
	hisilicon,cv200-legacy-ts-tuning;
	hisilicon,hardware-pid-filtering;

	port {
		ip1004_demux_input1: endpoint {
			remote-endpoint = <&ip1004_mxl214_output1>;
		};
	};
};

&dvbip_demux_input2 {
	status = "okay";
	/delete-property/ hisilicon,clock-inverted;
	hisilicon,ts-mode = "serial-nosync-novalid";
	hisilicon,cv200-legacy-ts-tuning;
	hisilicon,hardware-pid-filtering;

	port {
		ip1004_demux_input2: endpoint {
			remote-endpoint = <&ip1004_mxl214_output2>;
		};
	};
};

&dvbip_demux_input3 {
	status = "okay";
	hisilicon,ts-mode = "serial-nosync-novalid";
	hisilicon,cv200-legacy-ts-tuning;
	hisilicon,hardware-pid-filtering;

	port {
		ip1004_demux_input3: endpoint {
			remote-endpoint = <&ip1004_mxl214_output3>;
		};
	};
};

/* OTA device-2/mxl214C_3wire: tuner N -> TSI N, no common clock. */
&demux {
	pinctrl-names = "default";
	pinctrl-0 = <&ip1004_mxl214_tsi_pins>;
	assigned-clock-parents = <&crg HISTB_TSI_INDEPENDENT_CLK>;
};

&pmx0 {
	ip1004_emmc_default_pins: ip1004-emmc-default-pins {
		pinctrl-single,pins = <
			0x000 MUX_M0
			0x004 MUX_M0
			0x008 MUX_M0
			0x00c MUX_M0
			0x010 MUX_M0
			0x014 MUX_M0
			0x018 MUX_M0
			0x01c MUX_M0
			0x024 MUX_M0
			0x028 MUX_M0
		>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(0, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(1, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0xd, 0xf)>;
	};

	ip1004_emmc_hs200_data_cmd_pins: ip1004-emmc-hs200-data-cmd-pins {
		pinctrl-single,pins = <
			0x000 MUX_M0
			0x004 MUX_M0
			0x008 MUX_M0
			0x00c MUX_M0
			0x010 MUX_M0
			0x014 MUX_M0
			0x018 MUX_M0
			0x01c MUX_M0
			0x024 MUX_M0
		>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(0, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(1, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0xb, 0xf)>;
	};

	ip1004_emmc_hs200_clk_pin: ip1004-emmc-hs200-clk-pin {
		pinctrl-single,pins = <0x028 MUX_M0>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(0, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(0, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0x9, 0xf)>;
	};

	ip1004_emmc_hs400_pins: ip1004-emmc-hs400-pins {
		pinctrl-single,pins = <
			0x000 MUX_M0
			0x004 MUX_M0
			0x008 MUX_M0
			0x00c MUX_M0
			0x010 MUX_M0
			0x014 MUX_M0
			0x018 MUX_M0
			0x01c MUX_M0
			0x024 MUX_M0
			0x028 MUX_M0
		>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(0, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(0, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0x9, 0xf)>;
	};

	ip1004_emmc_reset_pin: ip1004-emmc-reset-pin {
		pinctrl-single,pins = <0x02c MUX_M0>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(0, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(1, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0x3, 0xf)>;
	};

	ip1004_emmc_strobe_pin: ip1004-emmc-strobe-pin {
		pinctrl-single,pins = <0x030 MUX_M2>;
		pinctrl-single,bias-pulldown = <
			PINCTRL_PULLDOWN(1, 1, 0, 1)
		>;
		pinctrl-single,bias-pullup = <
			PINCTRL_PULLUP(0, 1, 0, 1)
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(1, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0x3, 0xf)>;
	};

	ip1004_mxl214_i2c2_pins: ip1004-mxl214-i2c2-pins {
		pinctrl-single,pins = <
			0x0dc MUX_M4 /* I2C2_SCL */
			0x0e0 MUX_M4 /* I2C2_SDA */
		>;
	};

	ip1004_mxl214_reset_pin: ip1004-mxl214-reset-pin {
		pinctrl-single,pins = <
			0x0e4 MUX_M0 /* GPIO8_3 / global GPIO67, active-low reset */
		>;
	};

	ip1004_mxl214_tsi_pins: ip1004-mxl214-tsi-pins {
		pinctrl-single,pins = <
			0x084 MUX_M5 /* TSI3_SYNC */
			0x088 MUX_M5 /* TSI3_D0 */
			0x08c MUX_M5 /* TSI3_CLK */
			0x0a0 MUX_M5 /* TSI2_SYNC */
			0x0a4 MUX_M5 /* TSI2_D0 */
			0x0a8 MUX_M5 /* TSI2_CLK */
			0x0cc MUX_M5 /* TSI1_SYNC */
			0x0d0 MUX_M5 /* TSI1_D0 */
			0x0d4 MUX_M5 /* TSI1_CLK */
			0x0e8 MUX_M5 /* TSI0_SYNC */
			0x0ec MUX_M5 /* TSI0_D0 */
			0x0f0 MUX_M5 /* TSI0_CLK */
		>;
	};
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&ip1004_mxl214_i2c2_pins>;
	clock-frequency = <400000>;
	status = "okay";

	ip1004_mxl214: demodulator@50 {
		compatible = "maxlinear,mxl214";
		reg = <0x50>;
		pinctrl-names = "default";
		pinctrl-0 = <&ip1004_mxl214_reset_pin>;
		reset-gpios = <&gpio8 3 GPIO_ACTIVE_LOW>;
		maxlinear,ts-mode = "serial-3wire";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				ip1004_mxl214_output0: endpoint {
					remote-endpoint = <&ip1004_demux_input0>;
				};
			};

			port@1 {
				reg = <1>;
				ip1004_mxl214_output1: endpoint {
					remote-endpoint = <&ip1004_demux_input1>;
				};
			};

			port@2 {
				reg = <2>;
				ip1004_mxl214_output2: endpoint {
					remote-endpoint = <&ip1004_demux_input2>;
				};
			};

			port@3 {
				reg = <3>;
				ip1004_mxl214_output3: endpoint {
					remote-endpoint = <&ip1004_demux_input3>;
				};
			};
		};
	};
};

&i2c3 {
	status = "disabled";
};
