// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <dt-bindings/leds/common.h>
#include "hi3798cv200-dvbip.dtsi"

/ {
	model = "DVBIP 1001 ARM64";
	compatible = "dvbip,1001", "hisilicon,hi3798cv200";
	serial-number = "10010000000000001";

	aliases {
		mmc0 = &emmc;
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		bootargs = "console=ttyAMA0,115200n8 earlycon=pl011,mmio32,0xf8b00000,115200n8 root=/dev/mmcblk0p14 rootfstype=ext4 rootwait rw blkdevparts=mmcblk0:4M(fastboot),4M(bootargs),12M(recovery),4M(deviceinfo),8M(baseparam),8M(pqparam),20M(logo),20M(logobak),40M(fastplay),40M(fastplaybak),40M(kernel),20M(misc),40M(preboot),-(rootfs) mem=2G loglevel=7 clk_ignore_unused fw_devlink=off dvbip.model=1001";
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	ip1001_cpu_opp_table: opp-table-cpu {
		compatible = "operating-points-v2";
		opp-shared;

		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-800000000 {
			opp-hz = /bits/ 64 <800000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <110000000>;
		};

		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <1050000>;
			clock-latency-ns = <110000000>;
		};

		opp-1600000000 {
			opp-hz = /bits/ 64 <1600000000>;
			opp-microvolt = <1150000>;
			clock-latency-ns = <110000000>;
		};
	};

	leds {
		compatible = "gpio-leds";

		power-indicator {
			function = LED_FUNCTION_POWER;
			gpios = <&gpio5 1 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};

		display-indicator {
			function = LED_FUNCTION_INDICATOR;
			gpios = <&gpio5 2 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};
	};
};

&cpu0 {
	#cooling-cells = <2>;
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1001_cpu_opp_table>;
};

&cpu1 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1001_cpu_opp_table>;
};

&cpu2 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1001_cpu_opp_table>;
};

&cpu3 {
	cpu-supply = <&vdd_cpu>;
	operating-points-v2 = <&ip1001_cpu_opp_table>;
};

&dvbip_cooling_maps {
	map-cpu {
		trip = <&gpu_target>;
		cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
	};
};

&dvbip_sound {
	simple-audio-card,name = "DVBIP-1001";
};

&{/thermal-zones/soc-thermal} {
	polling-delay-passive = <1000>;
	/delete-property/ sustainable-power;
};

&{/thermal-zones/soc-thermal/trips} {
	/delete-node/ soc-passive;
};

&vdd_cpu {
	status = "okay";
};

&emmc {
	pinctrl-names = "default";
	pinctrl-0 = <&ip1001_emmc_ddr52_pins>;
	hisilicon,io-voltage-reg = <&sysctrl 0xf4>;
	fifo-depth = <256>;
	clock-frequency = <100000000>;
	max-frequency = <52000000>;
	cap-mmc-highspeed;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

&pmx0 {
	ip1001_emmc_ddr52_pins: ip1001-emmc-ddr52-pins {
		pinctrl-single,pins = <
			0x000 MUX_M2
			0x004 MUX_M2
			0x008 MUX_M2
			0x00c MUX_M2
			0x010 MUX_M2
			0x014 MUX_M2
			0x018 MUX_M2
			0x01c MUX_M2
			0x024 MUX_M2
			0x028 MUX_M2
		>;
		pinctrl-single,slew-rate = <PINCTRL_SLEW_RATE(1, 1)>;
		pinctrl-single,drive-strength = <PINCTRL_DRV_STRENGTH(0xd, 0xf)>;
	};

	ip1001_i2c1_pins: ip1001-i2c1-pins {
		pinctrl-single,pins = <
			0x0e0 MUX_M2 /* I2C1_SDA, pin 56 */
			0x0e4 MUX_M2 /* I2C1_SCL, pin 57 */
		>;
	};

	ip1001_mxl214_reset_pin: ip1001-mxl214-reset-pin {
		pinctrl-single,pins = <
			0x0c8 MUX_M0 /* GPIO7_4, MxL214 reset, pin 50 */
		>;
	};

	ip1001_tsi_pins: ip1001-tsi-pins {
		pinctrl-single,pins = <
			0x0b4 MUX_M0 /* Unused TSI3-B_VALID, pin 45 */
			0x0b8 MUX_M0 /* Unused TSI3-B_D0, pin 46 */
			0x0bc MUX_M0 /* Unused TSI3-B_CLK, pin 47 */
			0x0cc MUX_M2 /* TSI3_VALID, pin 51 */
			0x0d0 MUX_M2 /* TSI3_D0, pin 52 */
			0x0d4 MUX_M2 /* TSI2_VALID, pin 53 */
			0x0d8 MUX_M2 /* TSI2_D0, pin 54 */
			0x0dc MUX_M2 /* TSI2_CLK, pin 55 */
			0x0e8 MUX_M2 /* TSI1_VALID, pin 58 */
			0x0ec MUX_M2 /* TSI1_CLK, pin 59 */
			0x0f0 MUX_M2 /* TSI1_D0, pin 60 */
			0x0f4 MUX_M2 /* TSI0_VALID, pin 61 */
			0x0f8 MUX_M2 /* TSI0_D0, pin 62 */
			0x0fc MUX_M2 /* TSI0_CLK, pin 63 */
		>;
	};
};

&demux {
	pinctrl-names = "default";
	pinctrl-0 = <&ip1001_tsi_pins>;
};

&dvbip_demux_input0 {
	port {
		demux_input0: endpoint {
			remote-endpoint = <&mxl214_output0>;
		};
	};
};

&dvbip_demux_input1 {
	port {
		demux_input1: endpoint {
			remote-endpoint = <&mxl214_output1>;
		};
	};
};

&dvbip_demux_input2 {
	port {
		demux_input2: endpoint {
			remote-endpoint = <&mxl214_output2>;
		};
	};
};

&dvbip_demux_input3 {
	port {
		demux_input3: endpoint {
			remote-endpoint = <&mxl214_output3>;
		};
	};
};

&gmac1 {
	phy-mode = "rgmii";
	hisilicon,phy-reset-delays-us = <10000 10000 30000>;
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&ip1001_i2c1_pins>;
	status = "okay";

	mxl214: demodulator@50 {
		compatible = "maxlinear,mxl214";
		reg = <0x50>;
		pinctrl-names = "default";
		pinctrl-0 = <&ip1001_mxl214_reset_pin>;
		reset-gpios = <&gpio7 4 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				mxl214_output0: endpoint {
					remote-endpoint = <&demux_input0>;
				};
			};

			port@1 {
				reg = <1>;

				mxl214_output1: endpoint {
					remote-endpoint = <&demux_input1>;
				};
			};

			port@2 {
				reg = <2>;

				mxl214_output2: endpoint {
					remote-endpoint = <&demux_input2>;
				};
			};

			port@3 {
				reg = <3>;

				mxl214_output3: endpoint {
					remote-endpoint = <&demux_input3>;
				};
			};
		};
	};
};

&ir {
	status = "disabled";
};
